os: linux
dist: jammy
language: java
jdk: openjdk21
cache:
  directories:
    - "$HOME/.m2"
branches:
  only:
    - main
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
deploy:
  provider: releases
  token:
    secure: VouOH/Zuet7PgO5upSDBINSKg4uFsEbpfA/RxMhhG57w45/5bEoXSaGmg09MSaR6EHsiQXGcClESlcDRGDEPKE+Wu9xI+queCNX6P/Ne9354Su8iHX0LF5AfIMQBdAWnfS7mjySzTcacGAX36T51+R/V89U7w8gHdJEXwVJeZJL046whTZHdMBxZ+wywFqa15lazBxVrNwnLYk04agdPW+lzN6PYpEA4AHWSx9riT13bdoJ+eM/+/FnJxpTEgR4XLoHHVVugJvybdzyyOBt1jAA7lKOtWemZL2DPxmeZZXjPm0Kmy6xK1ls8fLXvOavpJqTwTMpCB4e3UhoXLrRg0q5IfCT9dFvudQXR5gWq7ZRW584oLjF+MlUcFYQwkbyNzVJelH8V+msNDIZ89EVP64h1knjrtc8LQ3V6rVpqQ08nAXjQT6z/CrqwQiN4T0caUEFezwZ47JOrN2CGgiexCJI8z+lSXS3Zzvq4shOhZBLD+kC/B/OOREciuhzG9i1gDHovQNM5MrXLie50DXP98MKnKp9AV/0J9istoHXp36fRAyeqyPHgXb2Lq5C97mNWGOYTsSzijE/29Y9Fapz/Y0k2BFkkYQ3+FXsmverePBff8SEmb87XIDyPVM3tedzKpn4RO0Ay+T6Tr4OQF0CJ84quOFiqlu9AfOpW2kX48n0=
  file: target/vcf-report.jar
  prerelease: true
  on:
    tags: true
  edge: true # opt in to dpl v2
env:
  global:
    secure: ZodsIq8/BMfhTT0rB1lZkCpBxzPzqUnK3Czyq39jMhT8J6trDPjd7w6YNF2wDdbAmIugsnnrWOs5GtFgFqUNiRDIOQpzc5ncsu3lsGEG7NaqGPdY0kMlf+ihUKsESNglUXOR8BctOdUO7vC/p8VHw8o43n+VRZsfSvzDdHF57KE23NvfY+q/yt5vggYc8BiRJOU6BOOk3VpwI6D/hc1Qt5ZWOv+Y2K5MkH+boAdkmg5t3BdFwJOaG85MxqSlWkcY8irjtgx8oNYayV+cneXnaFUS4wtK/kMQ6ftDhmh5fAveJQdXcbbVVRFPUUYnrf0Grxt+74gXvFNw0BLnIcDjArChqhypyB1EPT4a1cpf9tQyhZ7ZNXwBfDaibSbMUY+ethDCpAdDUCQUHea96gdzbs2enhGQ3nXajgXacdKS+lpn1TJhNWr0gkHXb3PiAHF3EH3JwRuF6NwwEYvlRpZ2gdYUK8IFA59na/CZ21QzrHBuqk5v8PJaQRAdGZhUgXh1GOiPLT8vDhIKq6qUNGUPOmUyIzyKxLJfFdws+c4i1II7r5CqdjlshIcBOnENpZbyRlFZm0hfoJ3oieCSNpnvLmzEdzBrK9hlu1dkZIIX/pSKNFl+cBb4IJnQEpC/SiKmpwG5Z11hP+nHQm3s9NzD/zek3F8djKIkCe+u08D9EMU=